#box1{
    position:absolute;
    right:50%;
    top:30%;
}
#box2{
    
    width:186px;
    height:30px;
    position:absolute;
    right:50%;
    top:65%;
    font-weight :900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}
.box3A{
    position:absolute;
   
    top:71%;
    background-color:rgb(16, 16, 216);
    color:rgb(203, 241, 11);
    font-weight:900px;
    
   

    
}
#box3{
    right:59%;
}

#box4{
    right:53%;
}

#box4:hover{
    right:100px;
    top:200px;}
  
  

.box3A:active{
    background-color:blanchedalmond;
}