#100{
    display:inline-block;
     border-width:2px;
     background-color:red;
     width:100px;
     height:100px;
     margin-left:4px;
     border-style:solid;
     transition:width 5s ease-out 0.5s;
     animation:myclass 5s linear 0s 3 normal;
     background-image:url("https://tse1.mm.bing.net/th?id=OIP.MXXcVA3-a55KwAUXCG5HAAHaE8&pid=Api&rs=1&c=1&qlt=95&w=156&h=104");
     background-size:contain;
     background-repeat:none;
     position:absolute;
     left:50%;
}
@keyframes myclass{
    from{width:100px}
     to { transform:translate(100px);
        width:200px}
}
@media(min-width:200px){
   #100{
          background-color:blue;
          width:50%;
   }
}
#tushar{
    display:inline-block;
    width:200px;
    border:2px solid black;
    text-align:centre;
    padding-left:50px;
    background-image:url("https://tse3.mm.bing.net/th?id=OIP.E3UNwm389l_qdOdJ6zbhCAHaE8&pid=Api&P=0&h=180");
}


  